* {
  box-sizing: border-box;
}

.App {
  margin: 15px;
  padding: 15px;
  border: 2px solid #777;
  display: flex;
  flex-wrap: wrap;
}

.App > label {
  width: 150px;
}

.App >:nth-child(2n) {
  flex-basis: calc(100% - 150px);
}

.App > * {
  margin-bottom: 10px;
}

.App > *:last-child {
  margin-bottom: 0;
}

.App textarea,
.App input {
  padding: 5px;
  border: 1px solid #333;
}

.App > div {
  display: flex;
}

.App > div input {
  flex-grow: 1;
}

.App button {
  padding: 5px 8px;
  margin-left: 10px;
}

.decodeBtn {
  background: url(./assetts/images/arrow-up.svg) 50% 50% no-repeat;
}

.encodeBtn {
  background: url(./assetts/images/arrow-down.svg) 50% 50% no-repeat;
}

.decodeBtn,
.encodeBtn {
  background-size: auto 90%;
  width: 29px;
  height: 29px;
  font-size: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.decodeBtn:active,
.encodeBtn:active {
  background-size: auto 80%;
}

.decodeBtn:disabled,
.encodeBtn:disabled {
  opacity: 0.5;
}